*/tmp/*
*/Software/*
*/data.tsv.gz
*/metadata.tsv.gz
CompletedDatasets/CMAP_2_Entrez/tmp/*
CompletedDatasets/CMAP_2_Entrez/Software/*
CompletedDatasets/CMAP_2_Entrez/data.tsv.gz
CompletedDatasets/CMAP_2_Entrez/metadata.tsv.gz
CompletedDatasets/LINCS/LINCS_PhaseII_Level5/tmp/*
CompletedDatasets/LINCS/LINCS_PhaseII_Level5/Software/*
CompletedDatasets/LINCS/LINCS_PhaseII_Level5/data.tsv.gz
CompletedDatasets/LINCS/LINCS_PhaseII_Level5/metadata.tsv.gz
CompletedDatasets/LINCS/LINCS_PhaseII_Level4/tmp/*
CompletedDatasets/LINCS/LINCS_PhaseII_Level4/Software/*
CompletedDatasets/LINCS/LINCS_PhaseII_Level4/data.tsv.gz
CompletedDatasets/LINCS/LINCS_PhaseII_Level4/metadata.tsv.gz
CompletedDatasets/LINCS/LINCS_PhaseII_Level3/tmp/*
CompletedDatasets/LINCS/LINCS_PhaseII_Level3/Software/*
CompletedDatasets/LINCS/LINCS_PhaseII_Level3/data.tsv.gz
CompletedDatasets/LINCS/LINCS_PhaseII_Level3/metadata.tsv.gz
